<div class="container">
    <h1 *ngIf="product">{{ product.name }}</h1>
    <h1>{{ title }}</h1>

    <input type="text" (input)="setValue($event)">
    {{valueInput}}
    <hr/>
    {{status ? "tắt" : "đã bật"}}
    <div *ngIf="status">Mày nhìn cái quái gì !!!</div>
    <button (click)="nutbam()">Đừng bấm</button>
    <hr/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <td *ngIf="product">{{ i + 1 }}</td>
                <td *ngIf="product"><img [src]="product.img" /></td>
                <td *ngIf="product">{{ product.name }}</td>
                <td *ngIf="product">{{ product.price }}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeItem(product.id)!">Xóa</button>
                </td>
            </tr>         
        </tbody>
    </table>
</div>